<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>{{ title }}</title>
    </head>
    <body id="grid">
        <header id="header_1">
            <h1>Rock 💎 Paper 📄 Scissors ✂️</h1>
        </header>
        <nav id="nav">
            <div>
                <a href="/welcome">Welcome Page</a>
            </div>
            <div>
                <a href="/welcome">Play Again!</a>
            </div>
        </nav>
        <section id="content_1">
            {% block content %}
    
            
            {% endblock content %}
        </section>  
        <footer id="footer_1">
            © RPS 2021
        </footer>       
    </body>
     
</html>