{% extends 'base.html' %}

{% block content %}
    <hgroup>
        <h2>Welcome!!</h2>
        <h3>Rules:</h32>
    </hgroup>
    <ul>
        <li>
            Rock 💎 > Scissors ✂️
        </li>
        <li>
            Paper 📄 > Rock 💎
        </li>
        <li>
            Scissors ✂️ > Paper 📄
        </li>
    </ul>

    <form action="/play" method="post">
        <label for="player_1_choice">Choose:</label>
        <select name="player_1_choice" id="player_1_choice">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
        </select>
        <input type="submit" id="submit", value="Play">
    </form>

    
{% endblock content %}
